body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
}


label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: #555;
}


input, textarea {
    width: 100%;
    padding: 6px;
}

.button-group {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgb(126, 160, 229);
}
